


.wrapper{
    display: flex;
    
   
}


.display{
    position: relative;
    
}

.form{
    position: fixed;
    margin-top: 500px;
    display: flex;
    
}

.input{
    width: 100%;
    box-sizing: border-box;
}

.iconPlusMessage{
    display: flex;
}

.icon{
   padding-top: 12px;
}

.profile-picture-small{
    height:45px;
    margin-right: 8px;
}

.form .clearButton{
    
    border-style: solid;
    color:white;
    box-sizing: border-box;
    background-color: royalblue;
}

.submitButton{
    border-style: solid;
    color:white;
    box-sizing: border-box;
    background-color: royalblue;
}