.header-wrapper{
    display: flex;
    height: 80px;
    background-color: #497799;
    justify-content: space-between;

}




.hamburger{
    color: white;
    margin-top: 24px;
}

.profile-picture{
    height: 75px;
}

.profile-picture:hover{
    height:95px;
}

.header-title{
    color: white;
}

.headerLink{
    color: white;
    padding-top: 28px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 10px;
}

.headerLinks{
    display: flex;
}