
.ContactsWrapper{
    
}

.ContactsInfoWrapper{

    display: flex;
    margin-bottom: 80px;
    border-style: solid;
    border-color: turquoise;
    background-color: skyblue;
}

.ContactsHeader{
    text-align: center;
    
    background-color: #497799;
    color: white;
    height: 70px;
    
}

.contactName{
    font-weight: 600;
}



